body, html {
    margin: 100;
    font-family: sans-serif;
    background-color: rgb(229, 235, 145);
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 4px solid rgb(80, 25, 75);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

td {
    text-align: center;
    padding: 50px;
    
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}